.joinuswrapper{
    display: flex;
    /* flex-direction: column; */
    padding: 30px;
    /* align-items: start; */
    justify-content: center;
    gap: 10px;
   
}
.joinhead{
    font-size: 21px;
	color: #22456b;
	/* margin-left: 100px; */
    text-align: center;
}

.joinform{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: 18px;
}
.formdiv{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: center; */
   
}
.formdiv>div:nth-child(1){
    width: 140px;
    /* border: 1px solid black; */
}
.formdiv>div>label{
    color: #22456b;
    font-size: 19px;
    font-weight: 600;
    /* margin-right: 10px; */
}
.formdiv>input{
    margin-left: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #22456b;
    font-size: 18px;
}
.formdiv>textarea{
    margin-left: 20px;
    padding: 10px;
    width: 500px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #22456b;
    font-size: 18px;
}
.formbtn>button{
    border: none;
    color: #f0dd4d;
    background-color: #22456b;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
    &:hover{
        background-color: white;
        color: #22456b;
    }

}
.formbtn{
    /* text-align: center; */
    margin-left: 160px;
    margin-top: 20px;

}