.mainjoinuswrap{
	display: flex;
	padding: 45px 70px;
	gap: 60px;
	align-items: center;
	/* border: 1px solid white; */
}


.joinhead {
	font-size: 21px;
	color: #f0dd4d;
	/* margin-left: 100px; */
	text-align: center;
	flex: 0.8;
	h2{
		color: white;
	font-size: 17px;
	font-weight: normal;
	}
}

.joinform {
	background-color: #22456b;
	flex: 1;
	display: flex;
	flex-direction: column;
	/* border: 1px solid white; */
	padding: 30px 20px;
	gap: 18px;
	border-radius: 20px;
    box-shadow:  2px 2px 5px #f0dd4d;
}
.formdiv {
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.formdiv > div:nth-child(1) {
	width: 140px;
	/* border: 1px solid black; */
}

.formdiv > input {
	/* margin-left: 20px; */
	width: 500px;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #f0dd4d;
	font-size: 18px;
	outline: none;
}
.formdiv > input::placeholder {
	opacity: 0.5;
}
.formdiv > textarea {
	/* margin-left: 20px; */
	padding: 10px;
	width: 430px;
	height: 80px;
	border-radius: 15px;
	border: 1px solid #22456b;
	font-size: 18px;
}
.formbtn > button {
	border: none;
	color: #22456b;
	background-color: #f0dd4d;
	padding: 13px 35px;
	border-radius: 15px;
	font-size: 18px;
	cursor: pointer;
	margin-left: 10px;
	transition: all 0.2s ease;
	border: 2px solid #f0dd4d;
	&:hover {
		background-color: white;
	}
}


.password-toggle{
	/* margin-right: 10px; */
	margin-left: -23px;
}