@media only screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
		/* user-select: none; */
	}
	.header {
		/* border: 2px solid white; */
		position: sticky;
		/* box-shadow: inset -2px 2px 2px #f0dd4d; */
		z-index: 1000;
	}
	#mmenu {
		position: absolute;
		color: #f0dd4d;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 45px;
		right: 10px;
		z-index: 2;
		transition: all 0.5s ease;
	}
	#mmenu2 {
		position: absolute;
		color: #f0dd4d;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		top: 70px;
		right: 12px;
		z-index: 2;
		width: 40px;
		scale: 1.3;
	}

	#mmenu > div {
		width: 37px;
		height: 6px;
		border-radius: 6px;
		margin: 3px;
		background-color: #f0dd4d;
		transition: all 0.5s ease;
	}

	.mobilemenu {
		border: 2px solid #f0dd4d;
		position: absolute;
		top: 120px;
		left: 10px;
		display: flex;
		background-color: #22456b;
		justify-content: center;
		flex-direction: column;
		transition: all 0.5s ease;
		z-index: 2;
		padding: 20px;
		border-radius: 15px;
	}

	#mo1 {
		text-align: center;
		/* background-color: black; */
		padding: 20px 110px;
		margin: 3px;
		text-decoration: none;
		color: #f0dd4d;
		font-size: 20px;
		border-radius: 10px;
	}
	#mo1:last-child {
		background-color: #f0dd4d;
		color: #22456b;
		padding: 20px 90px;
	}

	.link {
		display: none;
	}

	.logo  {
		margin-left: -30px;
		/* border: 1px solid white; */
		scale: 0.8;
		/* width: 230px; */
	}
	.headwrapper {
		padding: 15px 7px 15px 7px;
	}

	.mainwrapper {
		/* margin-top: 10px; */
		display: flex;
		flex-direction: column;
	}
	.leftcont {
		scale: 0.9;
	}
	.herohead {
		margin-top: -20px;
		text-align: center;
	}

	.typecont {
		text-align: center;
		margin-top: 80px;
		scale: 0.7;
	}

	.rightcont {
		scale: 0.85;
	}
	.maindonate {
		margin-top: 80px;
		/* display: none; */
	}

	/* main2 */

	.main2wrapper {
		display: flex;
		flex-direction: column;
	}
	.main2left {
		margin-top: 250px;
		scale: 0.8;
		order: 2;
	}
	.main2right {
		margin-left: -20px;
		margin-right: -20px;
		order: 1;
		margin-top: 630px;
	}

	.main3wrapper {
		border: 1px solid white;
		overflow-x: hidden;
		margin-top: 750px;
		/* gap: 20px; */
	}
	.main3con {
		scale: 0.9;
		margin-left: 18px;
		/* overflow-x: hidden; */
	}

	/* main4 */
	.main4wrapper {
		margin-left: -10px;
		margin-right: -10px;
		display: flex;
		flex-direction: column;
		/* border: 1px solid black; */
	}
	.main4left {
		/* margin-top: 30px; */
		/* margin-top: 70px; */
	}

	.banktab > tr > td:nth-child(1) {
		padding: 15px 0px;
	}

	.banktab > tr > td:nth-child(2) {
		padding: 25px 0px 25px 17px;
	}
	.main4img {
		scale: 0.8 0.8;
	}
	.main5wrapper {
		scale: 0.9;
	}
	.main5con {
		text-align: center;
	}

	.footerwrapper {
		display: flex;
		flex-direction: column;
	}

	.centerfoot {
		display: none;
	}
	.footlogo > img {
		width: 200px;
	}

	.rightfoot {
		margin-top: 20px;
	}
	.flink {
		margin-top: 30px;
	}

	/* aboutpg */
	.aboutwrapper1 {
		flex-direction: column;
	}
	.aboutpgimg {
		scale: 0.65 0.8;
	}
	.aboutwrapper2 {
		flex-direction: column;
	}

	.aboutpgimg1 {
		scale: 0.65 0.8;
	}
	.aboutleft2 {
		order: 2;
	}

	.visioncon {
		flex-direction: column;
	}

	/* projects */

	/* actcontent */
	.mainactcon {
		padding: 0px;
		margin-left: -115px;
		margin-right: -115px;
	}
	.acthead {
		scale: 0.8;
	}

	.actwrapper {
		flex-direction: column;
	}

	.actconimg > img {
		scale: 0.72 1;
		/* margin-top: -130px; */
	}
	.actwrap1 {
		flex-direction: column;
	}
	.actcondesc {
		margin-left: -50px;
		margin-right: -50px;
	}

	/* idcard */

	/* gallery */
	.gallerywrap1 > img {
		scale: 0.9;
	}

	/* joinus */
	.joinuswrapper {
		/* scale: 0.9; */

		margin-left: -20px;
		/* margin-right: -50px; */

		/* flex-direction: column; */
	}

	.formdiv {
		flex-direction: column;
		/* align-items: start; */
	}
	.formdiv > input {
		scale: 0.8 1;
	}
	.formdiv > label {
		margin-left: -90px;
	}
	.formdiv > textarea {
		scale: 0.8 1;
	}

	.formbtn {
		scale: 1.2;
	}

	/* donate */
	.donatewrap {
		/* margin-left: -40px; */
		flex-direction: column;
	}
	.donateform {
		box-shadow: none;
		margin-left: -25px;
	}

	.razorbtn {
		margin-top: 20px;
		scale: 1.06;
	}

	/* footer */
	.footerwrapper {
		margin-top: 120px;
	}
}
