.actconwrapper {
	padding:  20px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	margin: 20px 50px;
	border-radius: 30px;
}

.acthead1 {
	font-size: 28px;
	color: #22456b;
	/* margin-left: 100px; */
	/* text-align: center; */
	flex: 0.9;
	display: flex;
	/* padding-left: 30px; */
}
.acthead1>h2{
	/* text-align: start; */
	/* justify-content: start; */
	/* padding-right: 60px; */
}
.acthead1>h2>h5{
	margin-top: 0px;
}
.actimg {
	flex: 1;
}
.actimg > img {
	border: 4px solid #22456b;
	width: 440px;
	height: 260px;
    border-radius: 10px;
	/* padding-right: 30px; */
}
.actcontent {
    /* width: 1000px ; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 20px;
   /* padding: 30px; */
	/* text-align: center; */
	/* width: fit-content; */
    /* padding-left: 30px; */
    /* padding-right: 100px; */
	/* padding: 5px 70px; */
	/* justify-content: center; */
	/* padding: 5px 60px; */
	font-size: 17px;
	/* border: 1px solid black; */
	/* text-align: center; */
	/* padding-right: 10px; */
}
.actleft {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 200px;
padding: 0px 30px;
	/* border: 1px solid black; */
}
