.mainact{
    border: 2px solid black;
}

.acthead{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-grid{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}
.project-grid>a{
    text-decoration: none;
    color: inherit;
}