body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #22456b;
	overflow-x: hidden;
}
.header {
	position: sticky;
	top: 0px;
	/* border: 1px solid white; */
	/* background-color: #22456b; */
	backdrop-filter: blur(100px);
	z-index: 999;
}

.logolink{
	/* border: 1px solid white; */
	text-decoration: none;
	color: #f0dd4d;
	color: white;
	
}
#logofc{
	scale: 0.9;
}
.logo {
	gap: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s ease;
	&:hover {
		scale: 1.06;
	}
}
.logo > img {
	width: 280px;
	filter: brightness(140%);
}

.headwrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px 10px 30px;
}
.links {
	/* border: 1px solid black; */
	display: flex;
	font-size: 18px;
	font-weight: 600;
	gap: 35px;
	align-items: center;
	justify-content: center;
}

@keyframes rotateShadow {
	0% {
		box-shadow: inset 0px 1px 4px #f0dd4d;
	}
	50% {
		box-shadow: inset 1px 0px 4px #f0dd4d;
	}
	100% {
		box-shadow: inset 0px 1px 4px #f0dd4d;
	}
}

.link:hover {
	animation: rotateShadow 1s infinite;
}

.link {
	/* border: 1px solid black; */
	cursor: pointer;
	transition: all 1s ease;
	/* padding: 5px 6px; */
	border-radius: 10px;
	/* background-color: #22456b; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0px 3px;
	/* box-shadow: inset 2px 2px 2px #f0dd4d; */

	&:hover {
		transform: translateY(-4px);
	}
}
.nlink {
	cursor: pointer;
	transition: all 0.5s ease;

	border-radius: 10px;
	background-color: #22456b;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	&:hover {
		text-decoration: underline;
		text-decoration-color: #f0dd4d;
	}
}
.nlink > a {
	padding: 5px 26px;
	text-decoration: none;
	color: #f0dd4d;
}
.link > a {
	text-decoration: none;
	color: #f0dd4d;
	/* border: 1px solid black; */
	padding: 7px 6px;
}
.navsubmenu {
	border-radius: 10px;
	gap: 6px;
	position: absolute;
	display: flex;
	flex-direction: column;
	/* align-items: center;
	justify-content: center; */
	top: 40px;
	background-color: #22456b;
	color: #f0dd4d;
	border: 1px solid #f0dd4d;
	padding: 10px;
	transition: all 0.5s ease;
}
#contactbtn {
	background-color: white;

	/* padding: 6px 9px; */
	border-radius: 48px;
	transition: none;
	border: none;
	box-shadow: none;
	transform: translateY(0);
	transition: all 0.3s ease;
	animation: donateScale 2s infinite linear;
	&:hover {

		background-color: #f0dd4d;
	}
}
#contactbtn > a {
	color: #22456b;
	padding: 6px 12px;
}
@keyframes donateScale {
	0% {
		box-shadow:  3px 0px 0px #f0dd4d;
	}
	20% {
		box-shadow:  0px 3px 0px #f0dd4d;
	}

	40% {
		box-shadow:  -3px 0px 0px #f0dd4d;
	}
	
	60% {
		box-shadow:  0px -3px 0px #f0dd4d;
	}
	
	100% {
		box-shadow:  3px 0px 0px #f0dd4d;
	}
}

.mobilemenu {
	display: none;
}
#mmenu {
	display: none;
}

/* Custom scrollbar for Webkit browsers */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #22456b; /* Muted deep blue */
	backdrop-filter: blur(10px); /* Adds blur effect */
}

::-webkit-scrollbar-thumb {
	background: #f0dd4d; /* Transparent golden yellow */
	backdrop-filter: blur(10px); /* Adds blur effect */
	border-radius: 10px;
	border: 2px solid rgba(34, 69, 107, 0.2); /* Border to match the theme */
}

::-webkit-scrollbar-thumb:hover {
	background: white; /* Less transparent golden yellow */
}

::-webkit-scrollbar-thumb:active {
	background: #f0dd4d; /* Solid golden yellow */
}
